<a href="https://colab.research.google.com/github/hames08/PROGCOM-B/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repeticion.
se emplean cuando se desea repetir
una parte del codigo, dada una condicion.

## Listas
* Son un conjunto de tipo de datos,
 **indexado**, separado por comas, y
 encerrado entre [].
 * Todos los elementos dentro de una lista,
  se empiezan a contar desde 0.

  ### Creacion de listas
  * Forma general: lista=[]
  * Forma manual: animales=["gato","perro","zorro","oso"]
  * Por conversion: numero=list(range(10))
  * Son objetos

In [4]:
lista=[ ]

In [1]:
lista=list[range(1,8)]

In [ ]:
type(lista)

list

In [ ]:
zorro=(1,2,3,4)
animales=["gato","perro",zorro,"oso"]
animales

['gato', 'perro', (1, 2, 3, 4), 'oso']

In [ ]:
numero=list(range(10))
numero

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range(10)

range(0, 10)

##Estructura para - for.
se usa cuando:
* se sabe **cuantas veces** se repite
una accion.
*Esta compuesta por un contador y una
 condicion.
 * **contador**: identifica cuantas veces
 se va a repetir el bucle y con que
 frecuencia.
 * **condicion**: Evalua cuando se detiene.

 Por definicion:

```
# for variable in range(vi, vf+1, paso):
aqui se repite parte del codigo.
```
Donde:
1. vi: Condicion inicial. Donde arranco
a contar.
2. vf+1: Condicion final. Donde dejo de
contar+1
3. Paso: Frecuencia de conteo.

For para recorrido de listas
flor=["amapola","rosa","tulipan","orquidea"]

* El para va a iterar tantas veces como
elementos tenga la
 lista
* La variable dentro del para,
toma como valor, cada elemento de
la lista.

```
for variable in lista:
  variable
```

In [17]:
#creando una lista de nombre flor
flor=["amapola","rosa","tulipan","orquidea"]
for flores in flor:
  print(flores)
  if flores=="tulipan":
     break

amapola
rosa
tulipan

In [27]:
name=[]
for nombres2 in range(5):
  name.append(input("ingrese su nombre:"))

ingrese su nombre:1
ingrese su nombre:2
ingrese su nombre:3
ingrese su nombre:4
ingrese su nombre:5

In [16]:
name

'5'

##Estructura while

* Se emplea cuando **NO SE SABE**
cuantas veces se debe repetir una
accion, pero si se conoce su
condicion de parada (cp).
* Condicion inicial: Donde
arranca el ciclo.
* Condicion final (parada): Que
indica donde se detiene el ciclo.
* Modificador de condicion inicial

Estructura general del mientras

```
Condicion inicial
while (condicion==condicion final):
  modificador de condicion inicial

```
Modificadores de condicion inicial

* Banderas: son booleanos.
* Son preguntas.
* Son contadores o acumuladores.

##EJERCICIOS

#1. Escribe un programa que imprima los números del 1 al 10.

In [29]:
#for
for numeros in range(1, 11):
  print(numeros)

1
2
3
4
5
6
7
8
9
10

In [45]:
#for-list
list1=[1,2,4,4,5,6,7,8,9,10]
for numeros in list1:
 print(numeros)

1
2
4
4
5
6
7
8
9
10

#2 Escribe un programa que sume los números del 1 al 100.

In [75]:
#for
s = 0
for suma in range(1, 101):
  s += suma
print(s)

5050

In [2]:
#for-lista
s=0
list2=list(range(1,101))
for numeros in list2:
   s += numeros
print(s)

5050

#3. Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.

In [76]:
#for
for multiplos in range(1, 31):
  if multiplos % 3 == 0:
    print(multiplos)

3
6
9
12
15
18
21
24
27
30

In [5]:
list3=list(range(1,31))
for multiplos in list3:
  if multiplos % 3 == 0:
    print(multiplos)

3
6
9
12
15
18
21
24
27
30

#4 Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.

In [6]:
#for
n = int(input("Introduzca un numero:"))
for tabla in range(1, 11):
  print(f"{n} x {tabla} = {n*tabla}")

Introduzca un numero:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [11]:
#for-lista
n = int(input("Introduzca un numero:"))
list4=list(range(1,11))
for tabla in list4:
     print(f"{n} x {tabla} = {n*tabla}")

Introduzca un numero:6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

#5 Escribe un programa que pida 5 números al usuario y calcule el promedio.

In [21]:
#for
s = 0
for num in range(5):
  n = int(input(f"Introduzca el numero {num+1}:"))
  s += n
promedio = s / 5
print(f"El promedio es: {promedio}")

Introduzca el numero 1:5
Introduzca el numero 2:5
Introduzca el numero 3:5
Introduzca el numero 4:5
Introduzca el numero 5:5
El promedio es: 5.0

#6. Escribe un programa que cuente cuántos números pares hay entre 1 y un número ingresado.

In [ ]:
#for
n = int(input("Introduzca un numero:"))
contador = 0
for i in range(1, n + 1):
    if i % 2 == 0:
        contador += 1
print(f"Hay {contador} numeros pares entre 1 y {n}")