<a href="https://colab.research.google.com/github/hames08/PROGCOM-B/blob/main/Taller_de_Listas_HDEG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Crear una lista con los cuadrados de los números del 1 al 10.

In [1]:
cuadrados = [i ** 2 for i in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##2. Obtener una lista con los números pares del 0 al 20.

In [3]:
Numerospares = [i * 2 for i in range(1,6)]
Numerospares

[2, 4, 6, 8, 10]

##3. Crear una lista con el doble de cada número del 1 al 5.

In [4]:
Numerosdobles = [i * 2 for i in range(1,6)]
Numerosdobles

[2, 4, 6, 8, 10]

##4. De la palabra "programacion", obtener solo las vocales.

In [5]:
palabra = "programacion"
vocales = [letra for letra in palabra if letra in "aeiou"]
vocales

['o', 'a', 'a', 'i', 'o']

##5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.

In [7]:
Lenguajes = ["python", "java", "c++"]
Mayúsculas = [i.upper() for i in Lenguajes]
Mayúsculas

['PYTHON', 'JAVA', 'C++']

##6. Crear una lista con "par" o "impar" para los números del 1 al 10.

In [8]:
Listadenumeros = [1,2,3,4,5,6,7,8,9,10]
pareseimpares = [("par",x) if x%2==0 else ("impar",x) for x in Listadenumeros]
pareseimpares

[('impar', 1),
 ('par', 2),
 ('impar', 3),
 ('par', 4),
 ('impar', 5),
 ('par', 6),
 ('impar', 7),
 ('par', 8),
 ('impar', 9),
 ('par', 10)]

##7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5.

In [9]:
Listadenumeros = [1,2,3,4,5]
Cuadrados = [(x, "su cuadrado es" ,x**2 ) for x in Listadenumeros]
Cuadrados

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

##8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].

In [12]:
Letras = ["a","b"]
Numeros = [1,2,3]
Combinados = [(letra,Numero) for letra in Letras for Numero in Numeros]
Combinados

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

##9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.

In [14]:
palabras = ["sol", "estrella", "mar", "planeta"]
palabras4 = [i for i in palabras if len(i) > 4]
palabras4

['estrella', 'planeta']

##10. Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"

In [15]:
temperaturas = [20, 25, 28, 30, 22, 27, 31]
clasificacionclima = ["frío" if temp < 26 else "templado" if 26 <= temp <= 29 else "caliente" for temp in temperaturas]
clasificacionclima

['frío', 'frío', 'templado', 'caliente', 'frío', 'templado', 'caliente']